<!DOCTYPE html>
<html ng-app="ToDoApp">
<head>

  <title>To do App</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
  <div class="container">
    <div class="row col-sm-12" ng-controller="TodoCtrl as Ctrl">


      <h1 class="jumbotron">To do App on server</h1>
      <p>Add a todo:</p>
      <input class="input-group" type="text" name="todoinput" placeholder="Add a todo" ng-model="Ctrl.inputItem"/>
      <br>
      <button class="btn btn-success" ng-click="Ctrl.addItem()">Add</button>
      <button ng-hide="Ctrl.boolean" class="btn btn-warning" ng-click="Ctrl.editItems()">Edit</button>
      <button ng-show="Ctrl.boolean" class="btn btn-warning" ng-click="Ctrl.editItems()">Done</button>
      <h2>Todo list</h2>
      <ol>
        <li ng-repeat="item in Ctrl.listItems track by $index"><span ng-hide="Ctrl.boolean" ng-bind="item"></span></span><button ng-hide="Ctrl.boolean" class="btn btn-danger" style="padding:0px;margin:3px;" ng-click="Ctrl.deleteItem($index)">Delete</button><input ng-show="Ctrl.boolean" type="text" ng-model="item"/></li>
      </ol>


    </div>

  </div>


  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="todo.js"></script>
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>

</html>
